html {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: $white-color transparent;
}

body {
    // position: relative;
    background-color: $black-color;
    font-family: "Source Sans 3", sans-serif;
    color: $white-color;
    // font-family: "Paytone One", sans-serif;
}