.crate {
    padding: 175px 0px 10px 0px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 51px;
    }

    &__title {
        text-align: center;
        font-family: "Paytone One";
        font-size: 52px;
        font-weight: 400;
        line-height: 64px; /* 123.077% */
        letter-spacing: 1px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 21.5px;
    }

    &__item {
        flex-basis: calc((100% - 100px) / 3);
        position: relative;
        padding: 47px 0px 30px 17px;
        width: 292px;
        background: $item-bcg-color;
        border: 1px solid $border-color;
        border-radius: 2px;

        &::after {
            content: "";
            width: 124.451px;
            height: 1px;
            background: $border-color;
            position: absolute;
            transform: rotate(45deg);
            top: 43.9255px;
            right: -18.6px;
        }

        // @media screen and (min-width: 728px) {
        //     flex-basis: calc((100% - 100px) / 2);
        // }
    }

    &__circle {
        width: 50px;
        height: 50px;
        background-color: $border-color;
        border-radius: 50%;
        margin: 0px 0px 25px 0px;
    }

    &__subtitle {
        margin: 0px 0px 11px 5px;
        font-family: "Paytone One";
        font-size: 23px;
        font-weight: 400;
        line-height: 32px; /* 139.13% */
        letter-spacing: 1px;
    }

    &__text {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: 1px;
        width: 100%;
    }
}