.crate {
    padding: 175px 0px 10px 0px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 51px;
    }

    &__title {
        text-align: center;
        font-family: "Paytone One";
        font-size: 32px;
        font-weight: 350;
        line-height: 1.2;
        /* 123.077% */
        letter-spacing: 1px;

        @media screen and (min-width: 728px) {
            font-size: 52px;
            font-weight: 400;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px;

        @media screen and (min-width: 728px) {
            gap: 24px;
            justify-content: space-between;
        }
    }

    &__item {
        min-width: 0;
        position: relative;
        padding: 47px 80px 30px 17px;
        width: 292px;
        background: $item-bcg-color;
        border: 1px solid $border-color;
        border-radius: 2px;

        &::after {
            content: "";
            width: 124.451px;
            height: 1px;
            background: $border-color;
            position: absolute;
            transform: rotate(45deg);
            top: 43.9255px;
            right: -18.6px;
        }

        @media (min-width: 728px) {
            padding: 47px 40px 30px 17px;
        }
        @media screen and (min-width: 1246px) {
            padding: 47px 80px 30px 17px;
        }

        &__circle {
            width: 50px;
            height: 50px;
            background-color: $border-color;
            border-radius: 50%;
            margin: 0px 0px 25px 0px;
        }

        &__subtitle {
            margin: 0px 0px 5px 5px;
            font-family: "Paytone One";
            font-size: 23px;
            font-weight: 350;
            line-height: 1.4;
            letter-spacing: 1px;

            @media screen and (min-width: 728px) {
                font-weight: 400;
            }
        }

        &__text {
            color: $text-color;
            font-size: 16px;
            font-weight: 350;
            line-height: 1.6;
            letter-spacing: 1px;
            width: 100%;

            @media screen and (min-width: 728px) {
                font-weight: 400;
            }
        }
    }
}