.header {
    padding: 8px 0px;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;

        @media screen and (min-width: 728px) {
            flex-wrap: nowrap;
            align-items: center;
            gap: 48px;
        }
        
    }

    &__logo {
        font-family: "Paytone One";
        color: $sky-color;
        mix-blend-mode: exclusion; 
        font-size: 46px;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 1px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $sky-color;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }
    
        &:hover::after {
            transform: scaleX(1);
        }

    }

    &__items {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;

        @media screen and (min-width: 728px) {
            flex-wrap: nowrap;
            gap: 36px;
        }
    }

    &__link {
        width: 100%;
        color: $white-color;
        mix-blend-mode: exclusion; 
        font-size: 18px;
        font-weight: 400;
        line-height: 1.1; /* 111.111% */
        letter-spacing: 1px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $white-color;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }

        &:hover::after,
        &:focus::after {          // показуємо лінію при hover І при focus
          transform: scaleX(1);
        }
      
        &:focus {
          color: $sky-color;      // будь-які твої «активні» стилі
          font-weight: 700;
          &::after {
            background-color: $sky-color;
          }
        }
    }
}