html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-color: #FFF transparent;
}

body {
  background-color: #0D0D0E;
  font-family: "Source Sans 3", sans-serif;
  color: #FFF;
}

.container {
  max-width: 1246px;
  margin: 0px auto;
  padding: 0px 15px;
  transition: 500ms;
}
@media screen and (min-width: 362px) {
  .container {
    width: 362px;
  }
}
@media screen and (min-width: 728px) {
  .container {
    width: 728px;
  }
}
@media screen and (min-width: 1246px) {
  .container {
    width: 1246px;
  }
}

.header {
  padding: 8px 0px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
.header__logo {
  font-family: "Paytone One";
  font-size: 46px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 1px;
}
.header__items {
  display: flex;
  gap: 36px;
}
.header__link {
  position: relative;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 1px;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.header__link:hover::after {
  transform: scaleX(1);
}

.hero {
  padding: 51px 0px 211px 0px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.hero__title {
  font-family: "Paytone One";
  font-size: 84px;
  font-weight: 400;
  line-height: 100px; /* 119.048% */
  letter-spacing: 1px;
  width: 658px;
}
.hero__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 1px;
  width: 641px;
}
.hero__img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.info {
  padding: 163px 0px 167px 0px;
}
.info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 1px;
  width: 448px;
}
.info__items {
  display: flex;
  gap: 60px;
}
.info__item {
  text-align: center;
}
.info__title {
  font-family: "Paytone One";
  font-size: 56px;
  font-weight: 400;
  line-height: 56px; /* 100% */
  letter-spacing: 1px;
}
.info__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 1px;
}

.fotos {
  padding: 24px 0px 174px 0px;
}
.fotos .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 868px;
}
.fotos__item {
  display: flex;
  gap: 64px;
  overflow-x: scroll;
}
.fotos__img {
  width: 469px;
}
.fotos__item:nth-child(2) {
  direction: rtl;
}/*# sourceMappingURL=main.css.map */